:root {
    --primary: #42454A;
}
.testimonials{
    margin-top: clamp(-50px,calc(-2vw - 50px),0px) ;
}
.testimonialsProfils {
    margin: clamp(12px , 5vw ,50px) auto;
    display: flex;
    justify-content: space-between;
    padding-inline: 5px;
    width: 80%;
    max-width: 1500px
}

.testimonialsProfil {
    border: 1px solid #D8D8D8;
    padding: 40px 32px 45px;
}

.profilStar {
    display: flex;
    justify-content: center;
}

.profilDesc {
    color: var(--primary);
    margin-top: 7px;
    font-weight: 400;
    font-family: 'roboto';
    text-align: center;
}

.profilMain {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profilFoot {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.profilName {
    color: var(--primary);
    font-weight: 600;
    font-family: 'poppins';
    white-space: nowrap;
}

.profilJob {
    color: var(--primary);
    font-family: 'poppins';
    font-weight: 400;
    white-space: nowrap;
}

.profilImage {
    border-radius: 100%;
    object-fit: cover;
}

.testimonialsFoot {
    margin-top: clamp(8px , 2vw , 30px);
    display: flex;
    gap: 8px;
    justify-content: center;
}

.testimonialsFoot button {
    padding: 12px 14px;
    font-size: 20px;
    border-radius: 100%;
    cursor: pointer;
    transition: 200ms;
}

.footLeft {
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: transparent; 
}

.footLeft:hover , .footLeft:active {
    color: white;
    background-color: #303030;
}

.footRight {
    color: white; 
    border: 1px solid var(--primary);
    background-color: var(--primary);
}

.footRight:hover , .footRight:active {
    background-color: #303030;
}


@media(min-width:1500px){
    .profilStar img{
        width:  clamp(6px,calc(2vw - 8px ),33px) ;
        height: clamp(6px,calc(2vw - 8px ),33px)  ;
    }
    .profilDesc{
        font-size: clamp(16px,calc(2vw - 16px),23px);
    }
    .profilMain{
        height: clamp(10px,12vw,265px);
    }
    .profilImage{
        width: clamp(30px,4vw,90px);
        height: clamp(30px,4vw,90px);
    }
    .profilName{
        font-size: clamp(3px,calc(1vw + 5px),22px);
    }
    .profilJob{
        font-size: clamp(2px,calc(1vw + 1px),20px);
    }
}



@media(max-width:1500px){
    .profilStar img{
        width:  clamp(6px,calc(4vw - 17px),33px) ;
        height: clamp(6px,calc(4vw - 17px),33px)  ;
    }
    .profilDesc{
        font-size: clamp(5px,calc(1vw + 7px),25px);
    }
    .profilMain{
        height: clamp(10px,18vw,240px);
    }
    .profilImage{
        width: clamp(35px,5vw,90px);
        height: clamp(35px,5vw,90px);
    }
    .profilName{
        font-size: clamp(3px,calc(1vw + 10px),26px);
    }
    .profilJob{
        font-size: clamp(2px,calc(1vw + 4px),23px);
    }
}

@media(max-width:1000px){
    .profilStar img{
        width:  clamp(6px,calc(4vw ),45px) ;
        height: clamp(6px,calc(4vw ),45px)  ;
    }
    .profilDesc{
        font-size: clamp(12px,3vw,35px);
        padding-inline: calc(1vw + 10px);
    }
    .testimonialsProfil{
        padding:6vw calc(2vw + 4px) 8vw;
    }
    .profilMain{
        height: clamp(120px,37vw,300px);
        margin-top: calc(2vw + 3px);
    }
    .profilImage{
        width: clamp(38px,9vw,90px);
        height: clamp(38px,9vw,90px);
    }
    .profilName{
        font-size: clamp(10px,calc(4vw - 3px),30px);
    }
    .profilJob{
        font-size: clamp(8px,calc(3vw - 1px),23px);
    }
}

@media(max-width:700px){
    .testimonialsFoot{
        gap: 5px;
    }
    .testimonialsFoot button {
        font-size:12px ;
        padding:10px 11px ;
    }
}